body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Quicksand',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Apply Playfair Display for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

/* Apply Roboto for body text */
body, p, li, input, button, textarea {
  font-family: 'Quicksand', sans-serif;
}
